<font color ="blue" size="6">Dummy Variable <font>

<p>Dummy Variables also called one-hot Encoding is a way of converting categorical variables into as many as binary variables as there are categories.
<p>The reason to do this is to allow MI algorithms to understand and use the data.

In [1]:
import pandas as pd
df=pd.read_csv("DATASETS\\Color.csv")

In [2]:
df

    Color
0   Blue
1   Green
2     Red
3  Yellow
4     Red
5  Yellow
6   Black
7   Black

In [3]:
pd.get_dummies(df.Color,prefix='color')

   color_Black  color_Blue   color_Green  color_Red  color_Yellow
0            0            1            0          0             0
1            0            0            1          0             0
2            0            0            0          1             0
3            0            0            0          0             1
4            0            0            0          1             0
5            0            0            0          0             1
6            1            0            0          0             0
7            1            0            0          0             0