<font color="blue" size="6">Categorical Data</font>

<ol>
<li>Represents a categorical variable present in string format. While a string column's (object dtype) memory allocation is dependent on a constant * length of the data ,a categorical data typeâ€™s memory requirement depends in the number of categories.</li>
<li>Indicate intrinsic order within the categories (ordered data).</li>
<li>Signal other ML, Libraries that these columns should be treated as categorical data.</li>
</ol>

In [1]:
import pandas as pd
df=pd.read_csv("DATASETS\\Cric.csv")
df

      Player         Role
0  Tendulkar  All_Rounder
1      Kohli      Batsman
2     Dravid           WK
3     Warner      Batsman
4      Smith      Batsman
5       Lara      Batsman
6      Akram       Bowler
7      Warne       Bowler
8      Dhoni           WK

In [2]:
df['F_Role']=df['Role'].astype('category')

In [3]:
df

      Player         Role       F_Role
0  Tendulkar  All_Rounder  All_Rounder
1      Kohli      Batsman      Batsman
2     Dravid           WK           WK
3     Warner      Batsman      Batsman
4      Smith      Batsman      Batsman
5       Lara      Batsman      Batsman
6      Akram       Bowler       Bowler
7      Warne       Bowler       Bowler
8      Dhoni           WK           WK

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  9 non-null      object
 1   Role    9 non-null      object
 2   F_Role  9 non-null      category
dtypes: category(1), object(2)
memory usage: 485.0+ bytes