<font color="blue" size="6">Method Chaining</font>

<p>Method chaining is a programming style where you implement a pipeline function in a single call.</p>
<font color="green"><b>Advantages</font>
<ol>
<li>Improves code structure</li>
<li>Eliminates intermediate variables</li>
<li>Can improve code readability</li>
<li>Improves performance</li>
<li>Minimises errors</li>
    </ol>
<font color="green"><b>Disadvantages</font>
<ol>
<li>
    Harder to debug</li></ol>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("DATASETS\\ecommerce_sales_by_date.csv")

In [3]:
df = df.fillna('')

In [4]:
df = df.sort_values(by='date', ascending=False)

In [5]:
df['conversion_rate'] = ((df['transactions'] / df['sessions']) * 100).round(2)

In [6]:
df['revenuePerTransaction'] = (df['transactionRevenue'] / df['transactions']).round(2)

In [7]:
df['transactionsPerSession'] = (df['transactions'] / df['sessions']).round(2)

In [8]:
df['date'] = pd.to_datetime(df['date'])

In [9]:
df = df.rename(columns={'date': 'Date', 
                        'sessions': 'Sessions', 
                        'transactions': 'Transactions', 
                        'transactionRevenue': 'Revenue', 
                        'transactionsPerSession': 'Transactions Per Session', 
                        'revenuePerTransaction': 'AOV',
                        'conversion_rate': 'CR'})

In [10]:
df = df.drop(columns=['Unnamed: 0', 'Transactions Per Session'])
df.head()

          Date  Sessions  Transactions  Revenue    AOV    CR
364 2021-12-31      4071           105  8241.39  78.49  2.58
363 2021-12-30      4924           117  5155.67  44.07  2.38
362 2021-12-29      4890           108  7868.78  72.86  2.21
361 2021-12-28      5045           112  6729.58  60.09  2.22
360 2021-12-27      4412           105  6929.72  66.00  2.38

<font color ="green"><b>Method Chaining Code</b></font>

In [12]:
df_chain = (
    pd.read_csv('DATASETS\\ecommerce_sales_by_date.csv')
    .fillna('')
    .sort_values(by='date', ascending=False)
    .assign(
conversion_rate=(lambda x: ((x['transactions'] / x['sessions']) * 100).round(2)),
revenuePerTransaction=(lambda x: x['revenuePerTransaction'].round(2)),
transactionsPerSession=(lambda x: x['transactionsPerSession'].round(2))
    )
    .rename(columns={'date': 'Date', 
                    'sessions': 'Sessions', 
                    'transactions': 'Transactions', 
                    'transactionRevenue': 'Revenue', 
                    'transactionsPerSession': 'Transactions Per Session', 
                    'revenuePerTransaction': 'AOV',
                    'conversion_rate': 'CR'})        
    .drop(columns=['Unnamed: 0', 'Transactions Per Session'])
    .astype({'Date': 'datetime64[ns]'})  
)

df_chain.head()

          Date  Sessions  Transactions  Revenue    AOV    CR
364 2021-12-31      4071           105  8241.39  78.49  2.58
363 2021-12-30      4924           117  5155.67  44.07  2.38
362 2021-12-29      4890           108  7868.78  72.86  2.21
361 2021-12-28      5045           112  6729.58  60.09  2.22
360 2021-12-27      4412           105  6929.72  66.00  2.38