<Font color="Yellow" size="6">GROUPBY ADDITION EXCERCISE </FONT>

In [2]:
import pandas as pd

data = {
    'Department': ['Sales', 'Sales', 'HR', 'HR', 'IT', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Salary': [50000, 60000, 45000, 47000, 70000, 72000]
}

df = pd.DataFrame(data)

# Group by department and get mean salary
grouped = df.groupby('Department')['Salary'].mean()
print(grouped)

Department
HR       46000.0
IT       71000.0
Sales    55000.0
Name: Salary, dtype: float64

In [3]:
df

  Department Employee  Salary
0      Sales    Alice   50000
1      Sales      Bob   60000
2         HR  Charlie   45000
3         HR    David   47000
4         IT      Eva   70000
5         IT    Frank   72000

In [4]:
#GroupBy Multiple Columns
data = {
    'Department': ['Sales', 'Sales', 'HR', 'HR', 'IT', 'IT'],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M'],
    'Salary': [50000, 60000, 45000, 47000, 70000, 72000]
}
df = pd.DataFrame(data)

# Group by Department and Gender
print(df.groupby(['Department', 'Gender'])['Salary'].mean())

Department  Gender
HR          M         46000.0
IT          F         70000.0
            M         72000.0
Sales       F         50000.0
            M         60000.0
Name: Salary, dtype: float64

In [5]:
#Using agg() with Multiple Aggregations
# Apply multiple functions
print(df.groupby('Department')['Salary'].agg(['mean', 'max', 'min']))

               mean    max    min
Department
HR          46000.0  47000  45000
IT          71000.0  72000  70000
Sales       55000.0  60000  50000

In [7]:
#GroupBy and count()
# Count number of employees per department
import pandas as pd

data = {
    'Department': ['Sales', 'Sales', 'HR', 'HR', 'IT', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Salary': [50000, 60000, 45000, 47000, 70000, 72000]
}

df = pd.DataFrame(data)

# Count number of employees per department
print(df.groupby('Department')['Employee'].count())

Department
HR       2
IT       2
Sales    2
Name: Employee, dtype: int64

In [9]:
#GroupBy and Custom Function
def range_func(x):
    return x.max() - x.min()

# Apply custom function
print(df.groupby('Department')['Salary'].agg(range_func))

Department
HR        2000
IT        2000
Sales    10000
Name: Salary, dtype: int64

In [10]:
#GroupBy and Filtering
high_salary = df.groupby('Department').filter(lambda x: x['Salary'].mean() > 55000)
print(high_salary)

  Department Employee  Salary
4         IT      Eva   70000
5         IT    Frank   72000

In [11]:
#GroupBy and Transform
df['Salary_Diff'] = df.groupby('Department')['Salary'].transform(lambda x: x - x.mean())
print(df)

  Department Employee  Salary  Salary_Diff
0      Sales    Alice   50000      -5000.0
1      Sales      Bob   60000       5000.0
2         HR  Charlie   45000      -1000.0
3         HR    David   47000       1000.0
4         IT      Eva   70000      -1000.0
5         IT    Frank   72000       1000.0

In [12]:
#GroupBy with as_index=False
# Keep 'Department' as a column (not index)
grouped_df = df.groupby('Department', as_index=False)['Salary'].mean()
print(grouped_df)

  Department   Salary
0         HR  46000.0
1         IT  71000.0
2      Sales  55000.0

In [13]:
#GroupBy and Sorting Results
# Group and sort by mean salary
sorted_group = df.groupby('Department')['Salary'].mean().sort_values(ascending=False)
print(sorted_group)

Department
IT       71000.0
Sales    55000.0
HR       46000.0
Name: Salary, dtype: float64