<font color="blue" size="6">Cross Tabulation</font>

This function allows you to compute a frequency table of two or more variables, which summarizes the distribution of values in the data and provides insights into the relationships between the variables.

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('DATASETS\\titanic.csv')

In [2]:
rows=df["Survived"]
cols=df["Pclass"]
pd.crosstab(rows,cols,rownames=['Survived'])

Pclass      1   2    3
Survived
0          80  97  372
1         136  87  119

In [3]:
pd.crosstab(rows,cols,rownames=['Survived'],margins=['rows','cols'])

Pclass      1    2    3  All
Survived
0          80   97  372  549
1         136   87  119  342
All       216  184  491  891

In [4]:
pd.crosstab(rows,cols,rownames=['Survived'],normalize=True)

Pclass           1         2         3
Survived
0         0.089787  0.108866  0.417508
1         0.152637  0.097643  0.133558