<font color="blue" size="6">Pivoting </font>
<p>Pivoting is a reshaping of data to view the distribution of data between two or more categorical columns.</p>
<p>You need to specify what categorical columns goes in rows and columns of the pivot table.<p>What numeric column should be used to fill the cells and how that numeric column should be aggregated.

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('DATASETS\\titanic.csv')

In [2]:
pd.pivot_table(index='Survived',columns='Pclass',values=['Fare'],aggfunc=lambda x: np.mean(x),data=df)

               Fare
Pclass            1          2          3
Survived
0         64.684008  19.412328  13.669364
1         95.608029  22.055700  13.694887

In [3]:
df_pivot= df.pivot_table(index='Survived',columns='Pclass',values=['Fare'],aggfunc=lambda x: np.mean(x))

In [4]:
df_pivot

               Fare
Pclass            1          2          3
Survived
0         64.684008  19.412328  13.669364
1         95.608029  22.055700  13.694887

In [5]:
df_unstack=df_pivot.unstack()

df_unstack

      Pclass  Survived
Fare  1       0           64.684008
              1           95.608029
      2       0           19.412328
              1           22.055700
      3       0           13.669364
              1           13.694887
dtype: float64

In [6]:
#The same function can also be computed by groupby- aggregated method .
#The values are same as computed by pivot but represented in long format.

df_agg=df.groupby(['Pclass','Survived']).agg({'Fare':np.mean})
df_agg

                      Fare
Pclass Survived
1      0         64.684007
       1         95.608029
2      0         19.412328
       1         22.055700
3      0         13.669364
       1         13.694887