In Pandas, converting a DataFrame from wide to long format is commonly done using the pd.melt() function.

ðŸ”„ What is Wide to Long?

Wide Format (each variable in a separate column):

| ID | Year | Math\_2020 | Math\_2021 | Sci\_2020 | Sci\_2021 |
| -- | ---- | ---------- | ---------- | --------- | --------- |
| 1  | 10   | 78         | 88         | 84        | 89        |
| 2  | 10   | 92         | 85         | 80        | 83        |

Long Format (stacked variable & year into rows):

| ID | Year | Subject | Year\_Sub | Score |
| -- | ---- | ------- | --------- | ----- |
| 1  | 10   | Math    | 2020      | 78    |
| 1  | 10   | Math    | 2021      | 88    |
| 1  | 10   | Sci     | 2020      | 84    |
| 1  | 10   | Sci     | 2021      | 89    |
| 2  | 10   | Math    | 2020      | 92    |
| 2  | 10   | Math    | 2021      | 85    |
| 2  | 10   | Sci     | 2020      | 80    |
| 2  | 10   | Sci     | 2021      | 83    |

In [2]:
import pandas as pd

# Sample wide format
df = pd.DataFrame({
    'ID': [1, 2],
    'Year': [10, 10],
    'Math_2020': [78, 92],
    'Math_2021': [88, 85],
    'Sci_2020': [84, 80],
    'Sci_2021': [89, 83]
})

# Melt to long format
df_long = pd.melt(df, id_vars=['ID', 'Year'], 
                  var_name='Subject_Year', value_name='Score')

# Split 'Subject_Year' into 'Subject' and 'Year_Sub'
df_long[['Subject', 'Year_Sub']] = df_long['Subject_Year'].str.split('_', expand=True)

# Final format
df_long = df_long[['ID', 'Year', 'Subject', 'Year_Sub', 'Score']]

print(df_long)

   ID  Year Subject Year_Sub  Score
0   1    10    Math     2020     78
1   2    10    Math     2020     92
2   1    10    Math     2021     88
3   2    10    Math     2021     85
4   1    10     Sci     2020     84
5   2    10     Sci     2020     80
6   1    10     Sci     2021     89
7   2    10     Sci     2021     83

ðŸ“Œ Notes

    id_vars: Columns to keep fixed (identifier columns).

    value_vars: Optional; if not set, all other columns are melted.

    var_name: Name for the new variable column.

    value_name: Name for the values column.

 pd.wide_to_long(), which is particularly helpful when you have column names with a stub name and suffixes (like math_2020, math_2021, etc.).

In [3]:
import pandas as pd

df = pd.DataFrame({
    'id': [1, 2],
    'name': ['Alice', 'Bob'],
    'math_2020': [88, 92],
    'math_2021': [90, 95],
    'science_2020': [84, 86],
    'science_2021': [89, 88]
})

In [4]:
df

   id   name  math_2020  math_2021  science_2020  science_2021
0   1  Alice         88         90            84            89
1   2    Bob         92         95            86            88

In [5]:
df_long = pd.wide_to_long(df, 
                          stubnames=['math', 'science'], 
                          i=['id', 'name'], 
                          j='year', 
                          sep='_',
                          suffix='\\d+').reset_index()

print(df_long)

   id   name  year  math  science
0   1  Alice  2020    88       84
1   1  Alice  2021    90       89
2   2    Bob  2020    92       86
3   2    Bob  2021    95       88

Explanation:

    stubnames: List of prefixes (e.g., math, science)

    i: Identifier columns that stay constant

    j: The suffix column (here, year)

    sep: Separator between stub and suffix (_)

    suffix: Regex pattern to match the suffix (\d+ = digits like years)