The merge() function in Pandas lets you combine two DataFrames using SQL-style join operations (like INNER JOIN, LEFT JOIN, etc.) on one or more common keys.

<p>#Syntax
<p>pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None)
left, right: DataFrames to merge</p>

<p>how: 'inner', 'left', 'right', 'outer'

<p>on: Column(s) to join on (same column name)

<p>left_on, right_on: Join on different column names

In [2]:
#1. Simple Inner Join
import pandas as pd

df1 = pd.DataFrame({
    'EmpID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'EmpID': [1, 2, 4],
    'Department': ['HR', 'IT', 'Finance']
})

merged = pd.merge(df1, df2, on='EmpID', how='inner')
print(merged)

   EmpID   Name Department
0      1  Alice         HR
1      2    Bob         IT

In [3]:
#2. Left Join
merged = pd.merge(df1, df2, on='EmpID', how='left')
print(merged)

   EmpID     Name Department
0      1    Alice         HR
1      2      Bob         IT
2      3  Charlie        NaN

In [4]:
#3. Outer Join (Full Join)
merged = pd.merge(df1, df2, on='EmpID', how='outer')
print(merged)

   EmpID     Name Department
0      1    Alice         HR
1      2      Bob         IT
2      3  Charlie        NaN
3      4      NaN    Finance

In [6]:
#4. Join on Different Column Names
df3 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Salary': [50000, 60000, 70000]
})
merged = pd.merge(df1, df3, left_on='EmpID', right_on='ID', how='inner')
print(merged)

   EmpID     Name  ID  Salary
0      1    Alice   1   50000
1      2      Bob   2   60000
2      3  Charlie   3   70000