<font color="blue" size="6">Missing Data </font>

<font color="green" size="4"> Representation Missing Values</font>
<p>The usual way of representing missing values in Python is none
<p>Numpy provides np.nan for float and objects
<p>Pandas provides pd.NA to gerealize missing data and pd.NAT (not a time) for missing time data

Missing Data can occur when no information is provided for one or more items or for a whole unit. Missing Data is a very big problem in a real-life scenarios. Missing Data can also refer to as NA(Not Available) values in pandas. In DataFrame sometimes many datasets simply arrive with missing data, either because it exists and was not collected or it never existed. For Example, Suppose different users being surveyed may choose not to share their income, some users may choose not to share the address in this way many datasets went missing.

<font color="green" size="4" ><b>1.Checking Missing Values </font>

In order to check missing values in Pandas DataFrame, we use a function isnull() and notnull(). Both of these functions help in checking whether a value is NaN or not. These functions can also be used in Pandas Series in order to find null values in a series.

<font color ="yellow"><b>Checking for missing values using isnull()</b></font>
<p>In order to check null values in Pandas DataFrame, we use isnull() function this function return dataframe of Boolean values which are True for NaN values.

Consider this data set: sample.csv
Name	    Gender	   Dept	      Salary	 Bonus
Raj	        M	      Sales	      10000	     1000
Sam	        M	      Marketing	  50000	     4000
Hema	    F	      Finance	  10000	     2000
Prabhu	    M		              80000	
Meenakshi	F	      HR	     100000	    10000
Kalai		          Admin	      90000	     4500

In [1]:
# importing pandas package  
import pandas as pd 
import numpy as np 
# making data frame from csv file  
data = pd.read_csv("DATASETS\\sample.csv")
df = pd.DataFrame(data)
df

        Name Gender       Dept  Salary    Bonus
0        Raj      M      Sales   10000   1000.0
1        Sam      M  Marketing   50000   4000.0
2       Hema      F    Finance   10000   2000.0
3     Prabhu      M        NaN   80000      NaN
4  Meenakshi      F         HR  100000  10000.0
5      Kalai    NaN      Admin   90000   4500.0

In [2]:
bool_series = pd.isnull(df["Gender"])
bool_series

0    False
1    False
2    False
3    False
4    False
5     True
Name: Gender, dtype: bool

“Since kalai gender is missing so it is displayed True”.

<font color="yellow" size="4"><b>Checking for missing values using notnull()</b></font>

In order to check null values in Pandas Dataframe, we use notnull() function this function return dataframe of Boolean values which are False for NaN values.

In [3]:
bool_series = pd.notnull(df["Gender"])
bool_series

0     True
1     True
2     True
3     True
4     True
5    False
Name: Gender, dtype: bool