<font color="blue" size="6" >PANDAS SERIES</font>

Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).

In [1]:
# import pandas as pd
import pandas as pd
 
# simple array
data = [1, 2, 3, 4]
 
ser = pd.Series(data)
print(ser)

0    1
1    2
2    3
3    4
dtype: int64

The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.

<p>In the real world, a Pandas Series will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, and Excel file. 
<p>Pandas Series can be created from the lists, dictionary, and from a scalar value etc. Series can be created in different ways, here are some ways by which we create a series:

1.Creating a series from array:

In [2]:
# import pandas as pd
import pandas as pd
 
# import numpy as np
import numpy as np
 
# simple array
data = np.array(['g','e','e','k','s'])
 
ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

2.Creating a series from Lists:

In [3]:
import pandas as pd
 
# a simple list
list = ['g', 'e', 'e', 'k', 's']
  
# create series form a list
ser = pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

3.Create a Pandas Series Object from NumPy ndarray Object

In [4]:
import pandas as pd
import numpy as np
np_array = np.array([1,2,3,5,6,7,9,1,10])
data = pd.Series(np_array)

4.Create a Pandas Series Object from a Dictionary

In [5]:
dictionary = {'a':1,'b':2,'c':3, 'd':4}
data = pd.Series(dictionary)

5.Create a Pandas Series Object from a Scalar

The index parameter should be supplied when the data is a scalar value. The value will be replicated till the index length is reached.

In [6]:
data = pd.Series(17, index=[0,1,2,3,4,5,6,7,8,9,10])

Accessing element of Series
<p>There are two ways through which we can access element of series, they are :
<p>Accessing Element from Series with Position
<p>Accessing Element Using Label (index) 
<p>Accessing Element from Series with Position : In order to access the series element refers to the index number. Use the index operator [ ] to access an element in a series. The index must be an integer. In order to access multiple elements from a series, we use Slice operation.

In [7]:
# import pandas and numpy 
import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data)
  
  
#retrieve the upto 5 element in series
print(ser[:5])

0    g
1    e
2    e
3    k
4    s
dtype: object

Accessing Element Using Label (index) :

In order to access an element from series, we have to set values by index label. A Series is like a fixed-size dictionary in that you can get and set values by index label.
Accessing a single element using index label

In [8]:
# import pandas and numpy 
import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data,index=[10,11,12,13,14,15,16,17,18,19,20,21,22])
  
  
# accessing a element using index element
print(ser[16])

o

Binary Operation on Pandas Series Object

A binary operation is a rule that permits combining two elements to generate another element. We can execute binary operations on pandas series, such as addition, subtraction, etc. We must employ functions such as Series to conduct binary operations on a series.add(), Series.sub(), and so on.

In [9]:
import pandas as pd
import numpy as np

series1 = pd.Series([1,2,3,5,6,7,9,1,10])
series2 = pd.Series([2,3,5,2,5,6,1,3,0])

print("Series 1 :\n", series1)
print("Series 2 :\n", series1)
print("Sum of series 1 and series 2 :\n",series1.add(series2))
print("Difference of series 1 and series 2 :\n",series1.sub(series2))
print("Multiplication of series 1 and series 2 :\n",series1.mul(series2))
print("floor division to Series1 by Series2:\n",series1.floordiv(series2))
print("division to Series1 by Series2:\n",series1.div(series2))
print("Dot product of Series1 and Series2:\n",series1.dot(series2))
print("Result of applying the greater than function(gt):",series1.gt(series2));
print("pandas Series of strings 1 < pandas Series of strings 2",series1.lt(series2));
print("Applying Less Than Equal To Condition",series1.le(series2));
print(" Combine two series instances by selecting minimum value ",series1.combine(series2, min));
print(" First series modulo divided by the second series: ",series1.mod(series2));

Series 1 :
 0     1
1     2
2     3
3     5
4     6
5     7
6     9
7     1
8    10
dtype: int64
Series 2 :
 0     1
1     2
2     3
3     5
4     6
5     7
6     9
7     1
8    10
dtype: int64
Sum of series 1 and series 2 :
 0     3
1     5
2     8
3     7
4    11
5    13
6    10
7     4
8    10
dtype: int64
Difference of series 1 and series 2 :
 0    -1
1    -1
2    -2
3     3
4     1
5     1
6     8
7    -2
8    10
dtype: int64
Multiplication of series 1 and series 2 :
 0     2
1     6
2    15
3    10
4    30
5    42
6     9
7     3
8     0
dtype: int64
floor division to Series1 by Series2:
 0    0
1    0
2    0
3    2
4    1
5    1
6    9
7    0
8    0
dtype: int64
division to Series1 by Series2:
 0    0.500000
1    0.666667
2    0.600000
3    2.500000
4    1.200000
5    1.166667
6    9.000000
7    0.333333
8         inf
dtype: float64
Dot product of Series1 and Series2:
 117
Result of applying the greater than function(gt): 0    False
1    False
2    False
3     True
4     True
5     True
6     True
7    False
8     True
dtype: bool
pandas Series of strings 1 < pandas Series of strings 2 0     True
1     True
2     True
3    False
4    False
5    False
6    False
7     True
8    False
dtype: bool
Applying Less Than Equal To Condition 0     True
1     True
2     True
3    False
4    False
5    False
6    False
7     True
8    False
dtype: bool
 Combine two series instances by selecting minimum value  0    1
1    2
2    3
3    2
4    5
5    6
6    1
7    1
8    0
dtype: int64
 First series modulo divided by the second series:  0    1
1    2
2    3
3    1
4    1
5    1
6    0
7    1
8    0
dtype: int64